body {
  background-image: url(../images/bg.jpg);
  background-repeat: repeat;
}
@font-face{
  font-family: wizard_fnf;
  src: url(../fonts/harr.TTF);
}
.wizard_fnf{
  font-family: wizard_fnf;
}
.height_20{
  height: 20px;
}
.height_30{
  height: 30px;
}
.height_40{
  height: 40px;
}
.height_50{
  height: 50px;
}
.height_80{
  height: 80px;
}
.fn_s_20{
  font-size: 20px;
}
.fn_s_25{
  font-size: 25px;
}
.fn_s_40{
  font-size: 40px;
}
.padd_5{
  padding: 5px;
}
.color_brow{
  color: #4F2B15;
}
.mayus{
  text-transform: uppercase;
}