<div header-directive></div>
<div class="container">
  <div class="height_80"></div>
  <div class="container text-center color_brow">
    <div class="wizard_fnf fn_s_40 padd_5">Are you a Wizard</div>
    <div class="height_30"></div>
    <form>
      <div><input type="text" class="form-control" placeholder="username" ng-model="user.username"></div>
      <div class="height_20"></div>
      <div><input type="password" class="form-control" placeholder="password" ng-model="user.pass"></div>
      <div class="height_20"></div>
      <div class="wizard_fnf fn_s_25 padd_5" ng-click="login(user)">Login</div>
    </form>
    <div class="height_30"></div>
    <div class="wizard_fnf fn_s_20 padd_5" ng-click="register()">Register Now. It's Free</div>
    <div class="height_30"></div>
  </div>
</div>
